.mail{
    background-color: #003580;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
    gap: 20px;
    padding: 50px;
}
.mailInputContainer>input{
    height: 30px;
    width: 300px;
    padding: 10px;
    border: none;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
}
.mailInputContainer>button{
    height: 50px;
    background-color: #0071c2;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}